
.header{
	background-color:#fff;
	position:relative;
}
.header .navbar-collapse{
	padding:0;
}
/* Topbar */
.header .topbar{
	background-color:#fff;
	border-bottom:1px solid #eee;
}
.header .topbar{
	padding:15px 0;
}

.header .top-link{
	float:left;
}
.header .top-link li{
	display:inline-block;
	margin-right:15px;
}
.header .top-link li:last-child{
	margin-right:0px;
}
.header .top-link li a{
	color:#2C2D3F;
	font-size:14px;
	font-weight:400;
}
.header .top-link li:hover a{
	color:#dd4b63;
}
.header .top-contact{
	float:right;
}
.header .top-contact li{
	display:inline-block;
	margin-right:25px;
	color:#2C2D3F;
}
.header .top-contact li:last-child{
	margin-right:0;
}
.header .top-contact li a{
	font-size:14px;
}
.header .top-contact li a:hover{
	color:#d0398f;
}
.header .top-contact li i{
	color:#ca4693;
	margin-right:8px;
}
.header .header-inner {
	background:#fff;
	
	z-index:999;
	width:100%;
}
.get-quote{
	margin-top:12px;
}
.get-quote .btn{
	color:#fff;
}
.get-quote2{
	size: auto;
	padding: 14px 38px;
}
.get-quote2 .btn {
    color: #fff;
}
.header .logo {
	float: left;
	margin-top: 18px;
}
.header .navbar {
	background: none;
	box-shadow: none;
	border: none;
	margin: 0;
	height: 0px;
	min-height: 0px;
}
.header .nav li{
	margin-right: 15px;
    float: left;
	position:relative;
}
.header .nav li:last-child{
	margin:0;
}
.header .nav li a {
	color: #2C2D3F;
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
	padding: 30px 10px;
	position: relative;
	display: inline-block;
	position:relative;
}
.header .nav li a::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 3px;
	width:0%;
	background: #af2387;
	border-radius: 5px 5px 0 0;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.header .nav li.active a:before{
	opacity:1;
	visibility:visible;
	width: 100%;
}
.header .nav li.active a{
	color:#c8399d;
}
.header .nav li:hover a:before{
	opacity:1;
	width: 100%;
	visibility:visible;
}
.header .nav li:hover a{
	color:#c4339b;
}
.header .nav li a i {
	display: inline-block;
	margin-left: 1px;
	font-size: 13px;
}
/* Middle Header */
.header.style2 .header-inner {
	
	border-top: 1px solid #eee;
}
.header.style2 .logo {
	margin-top:6px;
	
}
.header .middle-header {
	background: #fff;
	padding: 20px 0px;
}
.header .widget-main{
	float:right;
}
.header.style2 .get-quote {
	margin-top: 0;
}
.header .single-widget {
	position: relative;
	float: left;
	margin-right: 30px;
	padding-left: 55px;
}
.header .single-widget:last-child{
	margin:0;
}
.header .single-widget .logo{
	margin:0;
	padding:0;
	margin-top: 7px;
}
.header .single-widget i {
	position: absolute;
	left: 0;
	top: 6px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	color: #fff;
	background: #c74296;
	border-radius: 4px;
	text-align: center;
	font-size: 15px;
}
.header .single-widget h4 {
	font-size: 15px;
	font-weight: 500;
}
.header .single-widget p {
	margin-bottom: 5px;
	text-transform: capitalize;
}
.header .single-widget.btn{
	margin-left:0;
}
/* Dropdown Menu */
.header .nav li .dropdown {
	background: #fff;
	width: 220px;
	position: absolute;
	left:-20px;
	top: 100%;
	z-index: 999;
	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 5px #3333334d;
	transform-origin: 0 0 0;
	transform: scaleY(0.2);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	opacity: 0;
	visibility: hidden;
	top: 74px;
	border-left:3px solid #c43ab4;
}
.header .nav li:hover .dropdown{
	opacity:1;
	visibility:visible;
	transform:translateY(0px);
}
.header .nav li .dropdown li{
	float:none;
	margin:0;
	border-bottom:1px dashed #eee;
}
.header .nav li .dropdown li:last-child{
	border:none;
}
.header .nav li .dropdown li a {
	padding: 12px 15px;
	color: #666;
	display: block;
	font-weight: 400;
	text-transform: capitalize;
	background: transparent;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.header .nav li .dropdown li a:before{
	display:none;
}
.header .nav li .dropdown li:last-child a{
	border-bottom:0px;
}
.header .nav li .dropdown li:hover a{
	color:#ad326e;
}
.header .nav li .dropdown li a:hover{
	border-color:transparent;
}
/* Right Bar */
.header.style2 .main-menu{
	display:inline-block;
	float:left;
}
.header .right-bar {
	float: right;
}
.header .right-bar {
	padding-top:20px;
}
.header .right-bar {
	display: inline-block;
}
.header .right-bar a {
	color: #fff;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	background: #c428b7;
	border-radius: 4px;
	display: block;
	font-size: 12px;
}
.header .right-bar li a:hover{
	color:#fff;
	background:#c72378;
}
.header .search-top.active .search i:before{
	content:"\eee1";
	font-size:15px;
}
/* Search */
.header .search-form {
	position: absolute;
	right: 0;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	top: 74px;
	box-shadow: 0px 0px 10px #0000001c;
	border-radius: 4px;
	overflow: hidden;
	transform:scale(0);
}
.header .search-top.active .search-form {
	opacity:1;
	visibility:visible;
	transform:scale(1);
}
.header .search-form input {
	width: 282px;
	height: 50px;
	line-height: 50px;
	padding: 0 70px 0 20px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 3px;
	border: none;
	background: #fff;
	color: #2C2D3F;
}
.header .search-form button {
	position: absolute;
	right: 0;
	height: 50px;
	top: 0;
	width: 50px;
	background: #ab1fa4;
	border: none;
	color: #fff;
	border-radius: 0 4px 4px 0;
	border-left:1px solid transparent;
}
.header .search-form button:hover{
	background:#fff;
	color:#ae1fb0;
	border-color:#e6e6e6;
}
/* Header Sticky */
.header.sticky .header-inner{
	position:fixed;
	z-index:999;
	top:0;
	left:0;
	bottom:initial;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	animation: fadeInDown 0.5s both 0.1s;
	box-shadow:0px 0px 13px #00000054;
	
}

/*=========================
	End Header CSS
===========================*/

/*===========================
	Start Hero Area CSS
=============================*/
.slider .single-slider {
	height: 600px;
	background-size: contain;
	background-position: center;
	background-repeat:no-repeat;
}
.slider .single-slider .text{
	margin-top:120px;
}
.slider.index2 .single-slider .text{
	margin-top:150px;
}
.slider .single-slider h1 {
	color: #2C2D3F;
	font-size: 38px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: 42px;
}
.slider .single-slider h1 span{
	color:#c150c1;
}
.slider .single-slider p {
	color: #2C2D3F;
	margin-top: 27px;
	font-weight: 400;
}
.slider .single-slider .button{
	margin-top:30px;
}
.slider .single-slider .btn{
	color:#fff;
	background:#c430b0;
	font-weight:500;
	display:inline-block;
	margin:0;
	margin-right:10px;
}
.slider .single-slider .btn:last-child{
	margin:0;
}
.slider .single-slider .primary{
	background:#2C2D3F;
	color:#fff;
}
.slider .single-slider .btn.primary:before{
	background:#ae1786;
}
.slider .owl-carousel .owl-nav {
	margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
	margin-top:-25px;
}
.slider .owl-carousel .owl-nav div {
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	background: #523ab100;
	color: #b60761;
	font-size: 26px;
	position: absolute;
	margin: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 0;
	border-radius: 50%;
}
.slider .owl-carousel .owl-nav div:hover{
	background:#646adb00;
	color:#fff;
}
.slider .owl-carousel .owl-controls .owl-nav .owl-prev{
	left:20px;
}
.slider .owl-carousel .owl-controls .owl-nav .owl-next{
	right:20px;
}

/* Slider Animation */
.owl-item.active .single-slider h1{
    animation: fadeInUp 1s both 0.6s;
}
.owl-item.active .single-slider p{
    animation: fadeInUp 1s both 1s;
}
.owl-item.active .single-slider .button{
    animation: fadeInDown 1s both 1.5s;
}


/* Start Faq CSS */
.why-choose{
	background:#fff;
}
.why-choose .choose-right{
	height:100%;
	width:100%;
	background-image:url('video-bg.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
}
.why-choose .choose-right .video {
	color: #fff;
	height: 70px;
	width: 70px;
	line-height: 70px;
	text-align: center;
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -35px;
	margin-top: -35px;
	font-size: 21px;
	background: #1a76d1;
	padding-left: 4px;
}
.why-choose .choose-right .video:hover{
	transform:scale(1.1);
}
.why-choose .video-image .waves-block .waves {
	position: absolute;
	width: 200px;
	height: 200px;
	background: #fff;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	border-radius: 100%;
	-webkit-animation: waves 3s ease-in-out infinite;
	animation: waves 3s ease-in-out infinite;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -100px;
}
.why-choose .video-image .waves-block .wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.why-choose .video-image .waves-block .wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.why-choose .video-image .waves-block .wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
/*=======================
	End Why choose CSS
=========================*/

/*===============================
	Start Call to action CSS
=================================*/

/*==========================
	End Portfolio CSS
============================*/

/*=========================
	Srart service CSS
===========================*/
.services .single-service{
	margin:30px 0;
	position:relative;
	padding-left:70px;
}

.services .single-service h4{
	text-transform:capitalize;
	margin-bottom:25px;
	color:#2C2D3F;
}
.services .single-service h4 a{
	color:#2C2D3F;
	font-size:20px;
	font-weight:600;
}

.services .single-service p{
	color:#868686;
}
/*-- Service Details --*/
.services-details-img {
  margin-bottom: 50px;
}


.services-details-img h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 16px;
}
.services-details-img P {
  margin-bottom: 20px;
}
.services-details-img blockquote i {
  position: absolute;
  display: inline-block;
  top: 20px;
  left: 38px;
  font-size: 32px;
}

.service-details-inner {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.service-details-inner p {
  margin-bottom: 15px;
}
.service-details-inner p:last-child {
  margin-bottom: 0;
}
/*=========================
	End service CSS
===========================*/

/*=============================
	Start Testimonials CSS
===============================*/
.testimonials{
	background-image:url('testi-bg.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
}
.testimonials .section-title h2{
	color:#fff;
}
.testimonials .single-testimonial {
	text-align: left;
	position: relative;
	background: #fff;
	padding: 40px 30px;
	margin: 5px;
	margin-bottom: 27px;
	margin-right: 30px;
	border-radius: 5px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	margin: 0;
	margin: 30px 20px;
}
.testimonials .single-testimonial:hover{
	box-shadow: 0px 10px 10px #0000001c;
	transform: translateY(-4px);
}
.testimonials .single-testimonial img {
	position: absolute;
	left: 30px;
	bottom:-26px;
	height: 53px;
	width: 53px;
	border-radius: 100%;
}
.testimonials .single-testimonial p{
	color:#868686;
	font-size:14px;
}
.testimonials .single-testimonial .name {
	margin-top: 22px;
	color: #2C2D3F;
	font-weight: 500;
	font-size: 15px;
}
.testimonials .owl-dots {
	position: absolute;
	left: 50%;
	bottom: -55px;
	margin-top: -47px;
	padding: 10px 25px;
	border-radius: 3px;
	margin: 0 0 0 -52px;
	margin-top: 49px;
	box-sizing: ;
}
.testimonials .owl-dots .owl-dot {
	display: inline-block;
	margin-right: 10px;
}
.testimonials .owl-dots .owl-dot:last-child{
	margin:0px;
}
.testimonials .owl-dots .owl-dot span {
	width: 10px;
	height:10px;
	display: block;
	border-radius: 30px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin: 0;
	background: #fff;
	position: relative;
}
.testimonials .owl-dots .owl-dot span:hover{
	background:#fff;
}
.testimonials .owl-dots .owl-dot.active span{
	background:#fff;
	width:20px;
}
/*=============================
	End Testimonials CSS
===============================*/

/*==========================
	Start Departments CSS
============================*/
.departments .department-tab .nav{
	margin-bottom: 30px;
    background:transform;
	position:relative;
}
.departments .department-tab .nav li{
	text-align:center;
	margin-right:54px;
}
.departments .department-tab .nav li a i {
	font-size: 50px;
	color: #868686;
}
.departments .department-tab .nav li a:hover{
	background:transparent;
}
.departments .department-tab .nav li a.active i{
	color:#1a76d1;
}
.departments .department-tab .nav li a {
	color: #fff;
	margin-top: 20px;
	border: none;
	padding: 0;
	padding-bottom: 20px;
	border-bottom:2px solid transparent;
	padding:0 10px 20px 10px;
}
.departments .department-tab .nav li a.active{
	border-color:#1a76d1;
}
.departments .department-tab .nav li span{
	display:block;
}
.departments .department-tab .nav li .first {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 500;
	color: #868686;
}
.departments .department-tab .nav li a.active .first{
	color:#2C2D3F;
}
.departments .department-tab .nav li .second {
	font-size: 14px;
	font-weight: 400;
	color: #868686;
	margin-top: 3px;
}
.departments .department-tab .tab-pane .department-left{}
.departments .department-tab .tab-pane .department-left h3{
	color:#2C2D3F;
	font-weight:600;
	font-size:26px;
	position:relative;
	padding-bottom:15px;
	margin-bottom:30px;
}
.departments .department-tab .tab-pane .department-left h3:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:3px;
	width:50px;
	background:#2C2D3F;
}
.departments .department-tab .tab-pane .department-left .p1 {
	color: #1a76d1;
	font-weight: 500;
	margin-bottom: 18px;
}
.departments .department-tab .tab-pane .department-left p {
	margin-bottom: 20px;
}
.departments .department-tab .tab-pane .department-left .list{}
.departments .department-tab .tab-pane .department-left .list li{
	position:relative;
	padding-left: 30px;
	margin-bottom:6px;
}
.departments .department-tab .tab-pane .department-left .list li:last-child{
	margin-bottom:0px;
}
.departments .department-tab .tab-pane .department-left .list li i {
	position: absolute;
	left: 0;
	height: 15px; 
	width: 15px;
	line-height: 15px;
	color: #fff;
	background: #1a76d1;
	text-align: center;
	border-radius: 100%;
	font-size: 8px;
	margin-right: 20px;
	top: 4px;
}
.departments .department-tab .tab-content .tab-text h2{
	font-size:18px;
}
.departments .department-tab .tab-content .tab-text p{
	color:#555;
	margin-top:10px;
}
/*==========================
	End Departments CSS
============================*/

/*=============================
	Start Pricing Table CSS
===============================*/

/*=============================
	End Pricing Table CSS
===============================*/

/*========================
	Start Clients CSS
==========================*/
.clients{
	background-image:url('client-bg.png');
	background-repeat: no-repeat;
	background-position:center;
	padding:100px 0px;
	position:relative;
}
.clients .single-clients{
	
}
.clients .single-clients img {
	width: 100%;
	cursor: pointer;
	text-align: center;
	float: none;
	padding: 0 35px;
}
/*========================
	End Clients CSS
==========================*/

/*====================
	Start Team CSS
======================*/ 
.team{
	background-image:url('testi-bg.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
}
.team.single-page{
	background:#fff;
}
.team .section-title h2{
	color:#fff;
}
.team .section-title p{
	color:#fff;
}
.team .single-team {
	background: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin-top: 30px;
	text-align: center;
	box-shadow: 0px 0px 10px #00000021;
	border-radius: 5px;
	overflow: hidden;
}
.team .t-head{
	position:relative;
	overflow:hidden;
}
.team .t-head::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity:0;
	visibility:hidden;
	content: "";
	z-index: 2;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.team .single-team:hover .t-head::before{
	visibility:visible;
	opacity:0.5;
}
.team .t-head img{
	width:100%;
	position:relative;
}
.team .t-icon a {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 46px;
	line-height: 40px;
	opacity: 0;
	visibility: hidden;
	font-weight: 400;
	text-align: center;
	color: #fff;
	border-radius: 0;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 99;
	margin: -23px 0 0 -75px;
	font-size: 15px;
	background: #2889E4;
	font-size: 13px;
	line-height: 46px;
	padding:0;
	border-radius:4px;
}
.team .single-team:hover .t-icon a {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	opacity:1;
	visibility:visible;
}
.team .t-bottom {
	text-align: center;
	position: relative;
	padding: 0 20px;
	padding: 25px 20px;
}
.team .t-bottom p {
	color: #666;
	font-size: 13px;
	display: block;
	margin-bottom: 4px;
}
.team .t-bottom h2 {
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 500;
	color: #2C2D3F;
}
.team .t-bottom h2 a:hover{
	color:#1A76D1;
}
/*-- Doctor Details --*/
.doctor-details-left {
	-webkit-box-shadow: 0px 0px 10px 0px #ddd;
	box-shadow: 0px 0px 10px 0px #ddd;
	border-radius: 10px;
	overflow: hidden;
}
.doctor-details-item img {
  width: 100%;
  border-radius:0;
}
.doctor-details-item .doctor-details-contact {
	padding: 50px;
}
.doctor-details-item .doctor-details-contact h3 {
	font-weight: 600;
	font-size: 20px;
	color: #2C2D3F;
	margin-bottom: 30px;
}
.doctor-details-item .doctor-details-contact .basic-info {
  margin: 0;
  padding: 0;
}
.doctor-details-item .doctor-details-contact .basic-info li {
	list-style-type: none;
	display: block;
	font-weight: 400;
	font-size: 15px;
	color: #2C2D3F;
	margin-bottom: 10px;
}
.doctor-details-item .doctor-details-contact .basic-info li:last-child {
  margin-bottom: 0;
}
.doctor-details-item .doctor-details-contact .basic-info li i {
	display: inline-block;
	color: #1A76D1;
	margin-right: 8px;
	font-size: 16px;
	position: relative;
	top: 1px;
}
.doctor-details-area .doctor-details-left .social{
	margin-top:25px;
}
.doctor-details-area .doctor-details-left .social li{
	display:inline-block;
	margin-right:10px;
}
.doctor-details-area .doctor-details-left .social li:last-child{
	margin-right:0px;
}
.doctor-details-area .doctor-details-left .social li a {
	height: 34px;
	width: 34px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #C8C8C8;
	text-align: center;
	padding: 0;
	border-radius: 4px;
	display: block;
	color: #757575;
	font-size: 16px;
}
.doctor-details-area .doctor-details-left .social li a:hover{
	color:#fff;
	background:#1A76D1;
	border-color:transparent;
}
.doctor-details-item .doctor-details-work h3 {
	font-weight: 600;
	font-size: 20px;
	color: #2C2D3F;
	margin-top: 30px;
}
.doctor-details-item .doctor-details-work .time-sidual{
	
}
.doctor-details-item .doctor-details-work .time-sidual{
	overflow:hidden;
}
.doctor-details-item .doctor-details-work .time-sidual li {
	display: block;
	color: #2C2D3F;
	width: 100%;
	margin-bottom: 10px;
}
.doctor-details-item .doctor-details-work .time-sidual li span{
	display:inline-block;
	float:right;
}
.doctor-details-item .doctor-details-work .day-head .time {
	font-weight: 400;
	float: right;
}

.doctor-details-area .doctor-details-right{
	padding-left: 60px;
	padding-top: 70px;
}
.doctor-details-item .doctor-details-biography {
 
}
.doctor-details-item .doctor-details-biography h3 {
  font-weight: 600;
  font-size: 24px;
  color: #2f60bd;
  margin-bottom: 25px;
  margin-top: 25px;
}
.doctor-details-item .doctor-details-biography p {
  margin-bottom: 0;
}
.doctor-details-item .doctor-details-biography ul {
  margin: 0;
  padding: 0;
}
.doctor-details-item .doctor-details-biography ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 10px;
}
.doctor-details-item .doctor-details-biography ul li:last-child {
  margin-bottom: 0;
}
.doctor-details-item .doctor-name .name{
	font-size:30px;
	font-weight:600;
}
.doctor-details-item .doctor-name .deg {
	font-size: 22px;
	margin: 10px 0 5px 0;
}
.doctor-details-item .doctor-name .degree{
	font-size: 16px;
}
/*====================
	End Team CSS
======================*/ 

/*=======================
	Start Blog CSS
=========================*/
.blog{
	background:#fff;
}
.blog .blog-title{
	text-align:center;
}
.blog .single-news {
	background: #fff;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	box-shadow: 0px 0px 10px #00000014;
}
.blog .single-news img{
	width:100%;
	margin:0;
	padding:0;
	height: 400px;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.blog .single-news .news-head{
	position:relative;
	overflow:hidden;
}
.blog .single-news .news-content {
	text-align: left;
	background: #fff;
	z-index: 99;
	position: relative;
	padding: 30px;
	left: 0;
	z-index: 0;
}
.blog .single-news .news-content:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:2px;
	width:0%;
	background:#ab1990;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.blog .single-news:hover .news-content:before{
	opacity:1;
	visibility:visible;
	width:100%;
}
.blog .single-news .news-body h2 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	line-height: 24px;
}



/* News Single  background chya side sathi ahe */
.news-single {
	padding: 60px 0 90px;
	background: #f8f8f8;
}
.news-single .single-main {
	margin-top: 30px;
	background: #fff;
	padding: 30px;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	border-radius: 8px;
}
.news-single .news-head{}
.news-single .news-head img{
	width:100%;
	height:100%;
}
.news-single .news-title {
	font-size: 25px;
	margin: 20px 0;
}
.news-single .news-title a {
	color: #252525;
	font-weight: 600;
}
.news-single .news-title a:hover {
	color: #940b38;
}

/* for photo sathi in benifits chya page var */
.news-single blockquote {
	background-image: url('blockqoute-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 150px;
	overflow: hidden;
}

/*==========================
	End Appointment CSS
============================*/

/*====================
   Start Login CSS
======================*/
.login .inner{
	box-shadow: 0px 0px 10px #00000024;
	border-radius: 5px;
	overflow:hidden;
}
.login .login-left{
	background-image: url('signup-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.login .login-form{
	padding:50px 40px;
}
.login .login-form h2 {
	position: relative;
	font-size: 32px;
	color: #333;
	font-weight: 600;
	line-height: 27px;
	text-transform: capitalize;
	margin-bottom: 12px;
	padding-bottom: 20px;
	text-align: left;
}
.login .login-form h2:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:2px;
	width:50px;
	background:#c726bc;
}
.login .login-form p {
	font-size: 14px;
	color: #333;
	font-weight: 400;
	text-align: left;
	margin-bottom:50px;
}
.login .login-form p a{
	display:inline-block;
	margin-left:5px;
	color:#b51292;
}
.login .login-form p a:hover{
	color:#2C2D3F;
}
.login .form {
	margin-top: 30px;
}
.login .form .form-group {
	margin-bottom: 22px;
}
.login .form .form-group input {
	width: 100%;
	height: 50px;
	border: 1px solid #eee;
	text-transform: capitalize;
	padding: 0px 18px;
	color: #555;
	font-size: 14px;
	font-weight: 400;
	border-radius: 4px;
}
.login .form .form-group.login-btn {
	margin: 0;
}
.login .form button {
	border: none;
}
.login .form .btn {
	display: inline-block;
	margin-right: 10px;
	color: #fff;
	line-height: 20px;
	width:100%;
}
.login .form .btn:hover{
	background:#c413aa;
	color:#fff;
}
.login .login-form .checkbox {
	text-align: left;
	margin: 0;
	margin-top: 20px;
	display:inline-block;
	
}
.login .login-form .checkbox label {
	font-size: 14px;
	font-weight: 400;
	color: #333;
	position: relative;
	padding-left: 20px;
}
.login .login-form .checkbox label:hover{
	cursor:pointer;
}
.login .login-form .checkbox label input{
	display:none;
}
.login .login-form .checkbox label::before {
	position: absolute;
	content: "";
	left: 0;
	top: 5px;
	width: 15px;
	height: 15px;
	border: 1px solid #b7205f;
	border-radius: 100%;
}
.login .login-form .checkbox label::after {
	position: relative;
	content: "";
	width: 7px;
	height: 7px;
	left: -16px;
	top: -15px;
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	display: block;
	font-size: 9px;
	background: #b10811;
	border-radius: 100%;
}
.login .login-form .checkbox label.checked::after{
	opacity:1;
	visibility:visible;
	transform:scale(1);
}
.login .login-form .lost-pass{
	display:inline-block;
	margin-left:25px;
	color:#333;
	font-size:14px;
	font-weight:400;
}
.login .login-form .lost-pass:hover{
	color:#ad159c;
}
/*====================
   End Login CSS
======================*/

/*=========================
   Start Register CSS
===========================*/
.register .inner{
	box-shadow: 0px 0px 10px #00000024;
	border-radius: 5px;
	overflow:hidden;
}
.register .register-left{
	background-image: url('signup-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.register .register-form{
	padding:50px 40px;
}
.register .register-form h2 {
	position: relative;
	font-size: 32px;
	color: #333;
	font-weight: 600;
	line-height: 27px;
	text-transform: capitalize;
	margin-bottom: 12px;
	padding-bottom: 20px;
	text-align: left;
}
.register .register-form h2:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:2px;
	width:50px;
	background:#1A76D1;
}
.register .register-form p {
	font-size: 14px;
	color: #333;
	font-weight: 400;
	text-align: left;
	margin-bottom:50px;
}
.register .register-form p a{
	display:inline-block;
	margin-left:5px;
	color:#1A76D1;
}
.register .register-form p a:hover{
	color:#2C2D3F;
}
.register .form {
	margin-top: 30px;
}
.register .form .form-group {
	margin-bottom: 22px;
}
.register .form .form-group input {
	width: 100%;
	height: 50px;
	border: 1px solid #eee;
	text-transform: capitalize;
	padding: 0px 18px;
	color: #555;
	font-size: 14px;
	font-weight: 400;
	border-radius: 4px;
}
.register .form .form-group.login-btn {
	margin: 0;
}
.register .form button {
	border: none;
}
.register .form .btn {
	display: inline-block;
	margin-right: 10px;
	color: #fff;
	line-height: 20px;
	width:100%;
}
.register .form .btn:hover{
	background:#a9168e;
	color:#fff;
}
.register .register-form .checkbox {
	text-align: left;
	margin: 0;
	margin-top: 20px;
	display:inline-block;
	
}
.register .register-form .checkbox label {
	font-size: 14px;
	font-weight: 400;
	color: #333;
	position: relative;
	padding-left: 20px;
}
.register .register-form .checkbox label:hover{
	cursor:pointer;
}
.register .register-form .checkbox label input{
	display:none;
}
.register .register-form .checkbox label::before {
	position: absolute;
	content: "";
	left: 0;
	top: 5px;
	width: 15px;
	height: 15px;
	border: 1px solid #1A76D1;
	border-radius: 100%;
}
.register .register-form .checkbox label::after {
	position: relative;
	content: "";
	width: 7px;
	height: 7px;
	left: -16px;
	top: -15px;
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	display: block;
	font-size: 9px;
	background: #1A76D1;
	border-radius: 100%;
}
.register .register-form .checkbox label.checked::after{
	opacity:1;
	visibility:visible;
	transform:scale(1);
}
.register .register-form  .terms{
	display:inline-block;
	margin-left:5px;
	color:#1A76D1;
}
.register .register-form .terms:hover{
	color:#2C2D3F;
}
/*=========================
   End Register CSS
===========================*/

/*=====================
   Start Faq CSS
=======================*/
.faq-head h2 {
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 25px;
}
.faq-wrap {
  margin-bottom: 50px;
}
.faq-wrap:last-child {
  margin-bottom: 30px;
}
.accordion {
  padding-left: 0;
  margin: 0;
  padding: 0;
}
.accordion p {
  font-size: 15px;
  display: none;
  padding: 20px 45px 15px 20px;
  margin-bottom: 0;
}
.accordion a {
	font-size: 16px;
	width: 100%;
	display: block;
	cursor: pointer;
	font-weight: 400;
	padding: 15px 0 15px 18px;
	border-radius: 0;
	background: #fff;
	color: #333;
	border: 1px solid #eee;
}
.accordion a:hover {
  color:#fff !important;
  background:#1A76D1 !important;
}
.accordion a:after {
  position: absolute;
  right: 20px;
  content: "+";
  top: 16px;
  color: #232323;
  font-size: 25px;
  font-weight: 700;
}
.accordion a:hover:after {
  color: #fff !important;
}
.accordion li {
  position: relative;
  list-style-type: none;
  margin-bottom: 30px;
}
.accordion li:first-child {
  border-top: 0;
}
.accordion li:last-child {
  margin-bottom: 0;
}
.accordion li a.active {
  color: #ffffff;
  background-color: #1A76D1;
  border: 1px solid #1A76D1;
}
.accordion li a.active:after {
  content: "-";
  font-size: 25px;
  color: #ffffff;
}
/*=====================
   End Faq CSS
=======================*/

/*=========================
   Start Contact Us CSS
===========================*/

.contact-us .single-info {
	background: #be5a9d;
	padding: 40px 60px;
	height: 150px;
	border-radius: 10px;
	position:relative;
	-webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
.contact-us .single-info:before{
	position: absolute;
    z-index: -1;
    content: '';
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background:#b33f7f;
    opacity: 0;
    filter: blur(10px);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
.contact-us .single-info:hover:before{
	opacity: 0.8;
}
.contact-us .single-info:hover{
	transform: translateY(-5px);
}
.contact-us .single-info i{
	font-size:42px;
	color:#fff;
	position:absolute;
	left:40px;
}
.contact-us .single-info .content {
	margin-left: 45px;
}
.contact-us .single-info .content h3{
	color:#fff;
	font-size:18px;
	font-weight:600;
	
}
.contact-us .single-info .content p{
	color:#fff;
	margin-top:5px;
}

/*=========================
   End Contact Us CSS
===========================*/

/*========================
	Start Error 404 CSS
==========================*/ 
.error-page {
	text-align: center;
	background: #fff;
	border-top: 1px solid #eee;
}
.error-page .error-inner {
	display: inline-block;
}

/*========================
	End Error 404 CSS
==========================*/ 

/*===========================
	Start Mail Success CSS
=============================*/ 
.mail-seccess {
	text-align: center;
	background: #fff;
	border-top: 1px solid #eee;
}
.mail-seccess .success-inner {
	display: inline-block;
}
.mail-seccess .success-inner h1 {
	font-size: 100px;
	text-shadow: 3px 5px 2px #3333;
	color: #9b2f9b;
	font-weight: 700;
}
.mail-seccess .success-inner h1 span {
	display: block;
	font-size: 25px;
	color: #333;
	font-weight: 600;
	text-shadow: none;
	margin-top: 20px;
}
.mail-seccess .success-inner p {
	padding: 20px 15px;
}
.mail-seccess .success-inner .btn{
	color:#fff;
}
/*===========================
	End Mail Success CSS
=============================*/ 

/*=========================
	Start Newsletter CSS
===========================*/  
.newsletter{
	background:white;
	padding: 50px 0;
}


/*=========================
	Start About Us CSS
===========================*/
.about-area {
  position: relative;
  z-index: 1;
}
.about-image {
  width: 100%;
  height: 100%;
  background-image: url('about-img.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-image img {
  display: none;
}
.about-content {
  max-width: 555px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 50px;
}
.about-content span {
  display: block;
  margin-bottom: 5px;
  color: #1A76D1;
  font-size: 17px;
}
.about-content h2 {
  margin-bottom: 0;
  line-height: 1.3;
  font-size: 40px;
  font-weight: 600;
}
.about-content p {
  margin-top: 10px;
  margin-bottom: 0;
}
.about-content ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 0;
}
.about-content ul li {
  margin-bottom: 16px;
  position: relative;
  padding-left: 34px;
}
.about-content ul li i {
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 100%;
	background-color: #1A76D12B;
	color: #1A76D1;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	display: inline-block;
	font-size: 11px;
	position: absolute;
	left: 0;
	top: -2px;
}
.about-content ul li:hover i {
  background-color: #a8184d;
  color: #ffffff;
}
.about-content ul li:last-child {
  margin-bottom: 0;
}
.about-content .btn {
  margin-top: 30px;
}
/* Start Our Vision Area CSS */
.our-vision-area {
  position: relative;
  z-index: 1;
  padding-bottom: 70px;
}
.single-vision-box {
  margin-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.2);
          box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.2);
  padding: 25px 20px;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}
.single-vision-box .icon {
  margin-bottom: 20px;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 100%;
  background-color: #1A76D1;
  color: #ffffff;
  font-size: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.single-vision-box h3 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 0;
  position: relative;
  font-size: 20px;
  font-weight: 700;
}
.single-vision-box p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 12px;
  margin-bottom: 0;
}
.single-vision-box::before {
  width: 0;
  height: 100%;
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #1A76D1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.single-vision-box::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border: 10px solid #ffffff;
  left: -80px;
  bottom: -80px;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.15;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.single-vision-box:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}
.single-vision-box:hover::before {
  width: 100%;
}
.single-vision-box:hover .icon {
  background-color: #fff;
  color: #1A76D1;
}
.single-vision-box:hover h3 {
  color: #ffffff;
}
.single-vision-box:hover p {
  color: #ffffff;
}
.single-vision-box:hover::after {
  left: -50px;
  bottom: -50px;
}

.footer{
	position:relative;
}
.footer .footer-top{
	padding:100px 0px;
	position:relative;
	background:#1da1c6;
}
.footer .footer-top:before{
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:#000;
	opacity:0.1;
}
.footer .single-footer{
	
}
.footer .single-footer .social{
	margin-top:25px;
}
.footer .single-footer .social li{
	display:inline-block;
	margin-right:10px;
}
.footer .single-footer .social li:last-child{
	margin-right:0px;
}
.footer .single-footer .social li a {
	height: 34px;
	width: 34px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #fff;
	text-align: center;
	padding: 0;
	border-radius: 100%;
	display: block;
	color:#fff;
	font-size: 16px;
}
.footer .single-footer .social li a:hover{
	color:#1A76D1;
	background:#fff;
	border-color:transparent;
}
.footer .single-footer .social li a i{
	
}
.footer .single-footer.f-link li a i{
	margin-right:10px;
}
.footer .single-footer.f-link li{
	display:block;
	margin-bottom:12px;
}
.footer .single-footer.f-link li:last-child{
	margin:0;
}
.footer .single-footer.f-link li a {
	display: block;
	color: #fff;
	text-transform: capitalize;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 400;
}
.footer .single-footer.f-link li a:hover{
	padding-left:8px;
}
.footer .single-footer h2{
	color:#fff;
	font-size:20px;
	font-weight:600;
	text-transform:capitalize;
	margin-bottom:40px;
	padding-bottom:20px;
	text-transform:capitalize;
	position:relative;
}
.footer .single-footer h2::before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0px;
	height: 3px;
	width: 50px;
	background: #fff;
}
.footer .single-footer .time-sidual{
	margin-top:15px;
}
.footer .single-footer .time-sidual{
	overflow:hidden;
}
.footer .single-footer .time-sidual li {
	display: block;
	color: #fff;
	width: 100%;
	margin-bottom: 5px;
}
.footer .single-footer .time-sidual li span{
	display:inline-block;
	float:right;
}
.footer .single-footer .day-head .time {
	font-weight: 400;
	float: right;
}
.footer .single-footer p{
	color:#fff;
}
.footer .single-footer .newsletter-inner{
	margin-top:20px;
	position:relative;
}
.footer .single-footer .newsletter-inner input {
	background: transparent;
	border: 1px solid #fff;
	height: 50px;
	line-height: 42px;
	width: 100%;
	margin-right: 15px;
	color: #fff;
	padding-left: 18px;
	padding-right: 70px;
	display: inline-block;
	float: left;
	border-radius: 0px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 400;
	border-radius: 5px;
}
.footer .single-footer .newsletter-inner input:hover{
	padding-left: 22px;
}
.footer input::-webkit-input-placeholder {
    opacity: 1;
    color: #fff !important;
}

.footer input::-moz-placeholder {
    opacity: 1;
    color: #fff !important;
}

.footer input::-ms-input-placeholder {
    opacity: 1;
    color: #fff !important;
}
.footer input::input-placeholder {
    opacity: 1;
    color: #fff !important;
}
.footer .single-footer .newsletter-inner .button {
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	line-height: 50px;
	width: 50px;
	background: #fff;
	border-left: 1px solid #fff;
	text-shadow: none;
	box-shadow: none;
	display: inline-block;
	border-radius: 0px;
	border: none;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 0 5px 5px 0;
	color: #1A76D1;
	font-size: 25px;
}
.footer .single-footer .newsletter-inner .button i{
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.footer .single-footer .newsletter-inner .button:hover i{
	color:#2C2D3F;
}
.footer .copyright{
	background:#51bc9e;
	padding:25px 0px 25px 0px;
	text-align:center;
}
.footer .copyright .copyright-content p{
	color:#fff;
}
.footer .copyright .copyright-content p a{
	color:#fff;
	font-weight:400;
	text-decoration:underline;
	display:inline-block;
	margin-left:4px;
}
/*=========================
	End Footer CSS
===========================*/

.schedule5{
    background-image: linear-gradient(to top right, #fefefe, #f6f6f6);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slider5{
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 370px;
    overflow: hidden;
}
.item5{
	position: relative;
    width: 346px;
    height: 370px;
    text-align: justify;
    background-color: #2aeea7;
    border-radius: 50px;
    padding: 20px;
    transition:  0.5s;
    left: calc(50% - 110px);
    top: 0;
}
#next{
    position: absolute;
    right: 50px;
    top: 40%;
}
#prev{
    position: absolute;
    left: 50px;
    top: 40%;
}
#prev, #next{
    color: #85d3f1;
    background: none;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    opacity: 2;
    transition: opacity 0.5s;
}
#prev:hover,
#next:hover{
    opacity: 5;
}